@charset "utf-8";

/* ポイント表示の設定 */
div#point        {text-align: center; font-size: 5em;}
div#second-point {text-align: center; font-size: 3em;}

/* ボタンの設定 */
div#shop button {
	font-family: 'Zen Kaku Gothic New', sans-serif;
	font-size: 1.5em;
	font-weight: 600;
	border-radius: 0;
	border: 2px solid #000000;
	background: #ffffff;
	width: 240px;
}

div#shop button:hover {
	background: #f0f0f0;
}

div#shop button:active {
	background: #dddddd;
}

div#shop {
	width: 240px;
	margin-left: auto;
}