@charset "utf-8";

/* ひとまとまりのコンテンツの設定 */
.Content {
    background-color: #aadfdf;
    border-radius: 6px;
    padding: 4px;
    margin: 8px;
}

/* コンテンツの一部の情報を一列に表示 */
.Content > .Update > span {
    display: inline-block;
    margin-left: 16px;
    font-size: 1.6em;
}
